body{
    background-color: #03174c;
    color: #ffffff;
    text-align: center;
    width: 80vw;
    font-family: "Bree serif";
}
.music-container{
    background-image: url("https://res.cloudinary.com/dddjuplfk/image/upload/c_fill,h_700/v1716875076/moon-stars-bg_glkeot.png");
    background-size: cover;
   width: 90vw;
    height: 50vh;
    padding: 20px;
}
.heading-music{
    font-size: 32px;
}
.nightIsland{
    background-image: url("https://res.cloudinary.com/dddjuplfk/image/upload/v1716875030/moon-bg_euprun.png");
    background-size: cover;
    color: #ffe7bf;
    width: 90vw;
    height: 40vh;
    margin-top: 20px;
    border-radius: 20px;
}
.para{
    font-size: 18px;
}
.button{
    text-align: center;
    width: 90vw;
}
.buttonmusic{
    font-size: 16px;
    background-color: #8e97fd;
    border-radius: 20px;
    width: 110px;
    height: 36px;
    color: #ffffff;
}
