@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.diwali-hero-sec{
    background-image:url("https://res.cloudinary.com/dddjuplfk/image/upload/v1712568811/diwali-bg.png") ;
    background-size: cover;
    height:30vh;

}
.diwali-hero-head{
    color: white;
    font-size: 42px;
    font-family: Caveat;
    width: 250px;
    padding: 38px;
}
.bottom-sec{
    background-color: #e6f6ff;
     padding: 25px;
    text-align: center; 
}
.diwali-card{
    text-align: center;
    background-color: white;
    width: 150px;
    border-radius: 20px;
    margin: 30px;
    padding: 15px;
}
.diwali-card-image{
    height: 80px;
    width: 80px;
}
.diwali-card-name{
    font-size: 16px;
    font-weight: 100;
}
 

